.cards {
    padding: 4rem;
    background: #fff;
}

.cards__item h1 {
    font-size: 2rem;
    color: #F9A825;
    opacity: 120%;
    font-weight: 400;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cards__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.cards__item {
    background-color: rgba(69, 153, 83, 0.7);
    border-radius: 20px;
    display: flex;
    width: 400px;
    min-height: max-content;
    margin: 10px 10px 00px 10px;
    float: left;
}

.cards__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
}

.cards__item__pic-wrap {
    position: relative;
    width: 100%;
    height: max-content;
    padding-top: 90%;
}

.cards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards__item__info {
    padding: 10px 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.cards__item__text {
    color: #2F4858;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 40px;
}


@media screen and (max-width: 1024px) {
    .cards__items {
        margin-bottom: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-left: 0;
    }

    .cards__item {
        margin-bottom: 2rem;
        width: 85vw;
    }
}